$color-pink:#ff66b3;
$color-pink-dark:#eb99ff;
$color-gray : #8c8c8c;
$color-black:#000;
$color-white:#ffff;
$color-green:#88ff4d;
$color-green-dark:#99ff99;
//Responsive size
$tablet-mode:768px;
